<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>50002883773-356sc015p2pk30p876iie4f7arokou3h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.50002883773-356sc015p2pk30p876iie4f7arokou3h</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>50002883773-78tp4lvm11l4mavc6f5mpcbu3iht8k5a.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAumjDP4zVtlMbCQpDUAVAeNyRbnMgUkRI</string>
	<key>GCM_SENDER_ID</key>
	<string>50002883773</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.WinboxOfficial.WinboxOfficial</string>
	<key>PROJECT_ID</key>
	<string>winboxofficial-f4f8e</string>
	<key>STORAGE_BUCKET</key>
	<string>winboxofficial-f4f8e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:50002883773:ios:5c0092348867fb5b9ff3d4</string>
	<key>DATABASE_URL</key>
	<string>https://winboxofficial-f4f8e-default-rtdb.firebaseio.com</string>
</dict>
</plist>